{% extends 'Home.html' %}

        {% block body %}
<div class="bigcard">
   
     <div class="card">
        <img src="/static/Images/fp-icon.svg" style="width:150px;height:auto;padding-top:10px" alt="">
        <h2><br>JITENDRA NATH</h2>
        <h3>Web Developer</h3><br><hr><br>
        <div id="linkbox">
        <div id="icons">
        <img src="/static/Images/facebook.png" alt="">
        <img src="/static/Images/insta.png" alt="">
        <img src="/static/Images/whatsapp.png" alt="">
        <img src="/static/Images/email.png" alt="">
        </div>
        <div id="link">
        <p>/jitendarnath </p>
        <p>/jitendar_nath</p>
        <p>9738243039</p>
        <p>jnb19012k</p>
        </div>
        </div>
    </div>
    
      <!-- <div class="card">
        <img src="/static/Images/fp-icon.svg" style="width:150px;height:auto;padding-top:10px" alt="">
        <h2><br>KARMJEET SINGH</h2>
        <h3>1VI17IS039</h3><br><hr><br>
        <div id="linkbox">
        <div id="icons">
                <img src="/static/Images/facebook.png" alt="">
                <img src="/static/Images/insta.png" alt="">
                <img src="/static/Images/whatsapp.png" alt="">
                <img src="/static/Images/email.png" alt="">
        </div>
        <div id="link">
        <p>/karmjeetsingh </p>
        <p>/karmjeet.singh</p>
        <p>9113972392</p>
        <p>karmjeet272</p>
        </div>
        </div> -->
    </div>
       
       <!-- <div class="card">
        <img src="/static/Images/fp-icon.svg" style="width:150px;height:auto;padding-top:10px" alt="">
        <h2><br>DARREN NEHAL</h2>
        <h3>1VI17IS035</h3><br><hr><br>
        <div id="linkbox">
        <div id="icons">
                <img src="/static/Images/facebook.png" alt="">
                <img src="/static/Images/insta.png" alt="">
                <img src="/static/Images/whatsapp.png" alt="">
                <img src="/static/Images/email.png" alt="">
        </div>
        <div id="link">
        <p>/darrennehal </p>
        <p>/darrennehal</p>
        <p>9738243039</p>
        <p>darrenehal538</p>
        </div>
        </div>
    </div> -->
</div>
{% endblock %}
