<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <link rel="stylesheet" type="text/css" href="/static/BodyCult.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
<div class="modal" >
    <div class="modal1-contents">
        <div class="close"><a href="/">+</a></div>
            <img class="Login_logo" src="/static/Images/training-icon_2.jpg" alt="">

            <form action="/signin/" method="POST">
                {% csrf_token %}
                <div class="inputBox">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <button id="button" type="submit">
                        Submit  
                </button>
           </form>
               <br> 
           <a href="/signup/">Signup</a>
        </div>
    </div>
</body>
</html>
