<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
     <link rel="stylesheet" type="text/css" href="/static/BodyCult.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="modal" >
         <div class="modal2-contents">
            <div class="close"><a href="/home/">+</a></div>
             <img class="Login_logo" src="/static/Images/246x0w.png" alt="">
        <form action="/signup/" method="POST">
        {% csrf_token %}
             <div class ="form">
                    <div class="inputBox">
                            <input type="text" name="name" required>
                            <label>Name</label>
                        </div>
                 <div class="leftform">
                     
 
                     <div class="inputBox">
                         <input type="text" name="email" required>
                         <label>E-Mail ID</label>
                     </div>
                     <div class="inputBox">
                         <input type="text" name="username" required>
                         <label>Username</label>
                     </div>
 
                 </div>
 
                 <div class="rightform">
                     <!-- <div class="inputBox">
                         <input type="text" name="" required>
                         <label>Last Name</label> 
                     </div>-->
                     <div class="inputBox">
                         <input type="" maxlength="10" name="phone" required>
                         <label>Phone No.</label>
                     </div>
                     <div class="inputBox">
                         <input type="password" name="password" required>
                         <label>Password</label>
                     </div>
                 </div>
                  
                   </div>
            <div class="select">
                    <select name="user_type" required>
                     <option value="1">Member</option>
                     <option value="2">Trainer</option>
                 </select>
                   </div>
                                         
                    <button type="submit" id="button">
                     
                         Submit
                     
                 </button>
             
 
         </div>
          </form>
     </div>
 </body>
 </html>

 <!-- <html>
    <head>
        <title>Signup</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="../static/signin.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
                body{
                    background-image: url(/static/GYM6.jpg);
                    background-size: cover; 
                  }
        </style>
    </head>
    <body>         
        <div class="d-flex justify-content-center">
            <div class="signin-card">
            <h3>Sign Up</h3>
            <form action="/signup/" method="POST">
                {%csrf_token%}
                <br>
                <p>Name</p>
                <input type="name" name="name" class="form-control" required>
                <br>
                <p>Username</p>
                <input type="username" name="username" class="form-control" required>
                <br>
                <p>email</p>
                <input type="email" name="email" class="form-control" required>
                <br>
                <p>Password</p>
                <input type="password" name="password" class="form-control" required>
                <br>
                <select name="user_type" required>
                    <option value="1">Member</option>
                    <option value="2">Trainer</option>
                </select>
                <br>
                <br>

                <button type="submit" class="btn btn-md btn-success">Signup</button>
                </form>

            </div>
        </div>
    </body>
</html> -->
